# Fichiers d'environnement
.env
*.env

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Fichiers de cookies et base de données
*.pkl
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# Dossier virtuel
venv/
ENV/

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db
